
services:
  pokedex-mongodb:
    image: mongo:7.0.5-jammy
    container_name: pokedex-mongodb
    restart: always
    ports:
      - 27017:27017
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: admin
    #   MONGO_INITDB_ROOT_PASSWORD: admin@123!
    #   MONGO_INITDB_DATABASE: nest-pokemon
    volumes:
      - mongodb:/data/db
    command: ["mongod", "--bind_ip_all"]

  pokedex-nest:
    build: 
      context: .
      dockerfile: Dockerfile
    image: pokedex-nest
    depends_on:
      - pokedex-mongodb
    container_name: pokedex-nest
    restart: always
    ports:
      - 3000:3000

volumes:
  mongodb: